@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body{
	font-family:"Lato", serif;
	color: #424551;
}
[class*="__container"]{
	max-width: 810px;
	margin: 0 auto;
}
.main__title {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
	margin: 0 0 92px 0;
}
.main__image{
	text-align: center;
	margin: 0 0 60px 0;
}
.main__image img{
	max-width: 100%;
}
.main__text{
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: #1E212C;
	margin: 0 0 24px 0;
}
.main__text-next{
	line-height: 160%;
	margin: 0 0 48px 0;
}
.main__text-next p{
	margin: 0 0 24px 0;
}
.main__example{
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: #1E212C;
	margin: 0 0 48px 0;
	padding: 0 0 0 58px;
}
.main__text-next ul{
	margin: 0 0 24px 0;
}
.main__text-next li{
	margin: 0 0 4px 0;
	padding: 0 0 0 32px;
}

.background{
	padding: 0 50px 0 50px;
}
.background p{
	background-color: rgba(139, 27, 27, 0.649);
	margin: 0 0 40px 0;
}
.background__image{
	color: white;
	font-size: 70px;
	text-align: center;
}
.background__image-repeat{
	background: url("../img/tekstura.jpg") 0px 0px / 20%;
	padding: 30px 0 30px 0;
	margin: 0 0 40px 0;
}
.background__image-nr{
	background: url("../img/cat_st.jpg") center / 100% no-repeat;
	background-attachment: fixed;
	padding: 60px 0 60px 0;
	margin: 0 0 50px 0;
}
.background__multiple{
	min-height: 500px;
	background: url("../img//images.jpg") no-repeat 0 0 / 400px, 
	url("../img/images_2.jpg") no-repeat right bottom / 400px,
	linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	padding: 240px 0 0 0;
	margin: 0 0 60px 0;
}
.footer{
	font-size: 50px;
	padding-left: 20px;
	background: linear-gradient(to bottom, rgba(235,233,249,1) 0%,rgba(216,208,239,1) 50%,rgba(206,199,236,1) 51%,rgba(193,191,234,1) 100%);
}




























